<div class='wrapper'>

	<h1>F.A.Q.</h1>

	Questions fréquentes, principalement pour les joueurs de Leek Wars.

	<h3>Q : Pourquoi une nouvelle version du LeekScript ?</h3>
	R : La programmation des IA et donc le langage sont au coeur de Leek Wars, et ont donc une très grande influence sur l'expérience de jeu. Les principaux objectifs de la version 2 est d'améliorer la rapidité, ajouter des fonctionnalités (objets, opérations, fonctions, ...), mais aussi de proposer un langage OpenSource.

	<h3>Q : J'ai des IA codées en LeekScript version 1, vais-je devoir tout réécrire ?</h3>
	R : Non, un convertisseur sera mis en place, pour traduire automatiquement un programme v1 vers v2. Le moment venu, le convertisseur sera appliqué sur toutes vos IA, en gardant une copie de l'ancienne version. Il sera indiqué la version de chaque IA dans l'éditeur.

	<h3>Q : Comment puis-je participer au développement ?</h3>
	R : Si vous êtes familier avec le C/C++ ou par simple curiosité, rendez-vous sur le <a href='https://github.com/leek-wars/leekscript'>Dépôt GitHub</a> du projet, toutes les instructions sont présentes pour récupérer, compiler et développer sur le langage. La liste des bugs et tâches est sont disponible sur <a href='https://github.com/leek-wars/leekscript/issues'>GitHub</a>, n'hésitez pas à la consulter, ou venez discuter sur le chat de Leek Wars.

</div>
