<div class='wrapper'>

	<div class='console'>
		<div class='bar'></div>
		<div class='content'>
			<textarea id='console' spellcheck=false ng-model='console' ng-keyup='keypressed($event)'>[1, 2, 3] ~~ x -> x ** 2</textarea>
		</div>
		<button ng-click='execute()'>Execute</button>
		<button ng-click='random()'>Random code</button>
	</div>
	<br>

	<br>
	<br>
	<div ng-show='result'>
		<b>{{ result.res }}</b>
		<br>
		<i>Time :</i> {{ Math.round(result.time / 1000) / 1000 }}ms
		<br>
		<i>{{ result.ops }} operations</i>
	</div>
</div>

<div class='light'>
	<div class='wrapper'>
		<h2>Simple and powerful</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a porttitor est. Mauris cursus turpis diam, ut bibendum massa lobortis imperdiet. Integer id pharetra lorem. Fusce id vulputate mauris, nec tincidunt est. Sed fringilla, ex in mattis rutrum, augue diam pharetra dui, id porta metus massa et enim. Donec malesuada a nunc ultrices tincidunt. Ut dolor augue, consequat non facilisis ut, tincidunt vel augue. Sed turpis orci, rhoncus non porta eu, finibus id enim. Etiam porttitor mauris ex, non gravida mi viverra ut. Morbi vel nibh nec nunc egestas tincidunt. Mauris placerat quam vitae auctor ultricies.
	</div>
</div>

<div class='dark'>
	<div class='wrapper'>

		<h1>Showcase</h1>

		<div class='column6'>
			<div class='console shadow small'>
				<div class='bar'></div>
				<div class='content'>
					<div class='line'>let x = 12</div>
					<div class='line'>[1, 2, 3].map(x -> x ^ 2)</div>
					<div class='line'>'hello ' + 'world'</div>
					<div class='line'>if x &lt; 12 then 'ok' else 'no' end</div>
				</div>
			</div>
		</div><div class='column6'>
			<div class='content'>
				<h2>Une syntaxe simple et souple</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a porttitor est. Mauris cursus turpis diam, ut bibendum massa lobortis imperdiet. Integer id pharetra lorem. Fusce id vulputate mauris, nec tincidunt est.
			</div>
		</div>
		<br><br>

		<div class='column6'>
			<div class='content'>
				<h2>Fonctionnel</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a porttitor est. Mauris cursus turpis diam, ut bibendum massa lobortis imperdiet. Integer id pharetra lorem. Fusce id vulputate mauris, nec tincidunt est.
			</div>
		</div><div class='column6'>
			<div class='console shadow small'>
				<div class='bar'></div>
				<div class='content'>
					<div class='line'>[[14, 2], [213, 1], [54, 6]].map(x -> x[0] * x[1])</div>
					<div class='line'>let g = a -> x -> a ^ x;  let f = g(12);  f(2) // 144</div>
				</div>
			</div>
		</div>
		<br><br>

		<div class='column6'>
			<div class='console shadow small'>
				<div class='bar'></div>
				<div class='content'>
					<div class='line'>String.size(String.split(String.reverse('hello world'), ''))</div>
					<div class='line'>'hello world'.reverse().split('').size()</div>
					<div class='line'>|~'hello world' / ' '|</div>
				</div>
			</div>
		</div><div class='column6'>
			<div class='content'>
				<h2>Opérateurs</h2>
				De nombreux opérateurs sont utilisables pour remplacer certaines méthodes en fonction de la classe de la valeur. Par exemple les codes suivants ont le même effet
			</div>
		</div>
		<br><br>

		<div class='column6'>
			<div class='content'>
				<h2>Fonctions opérateurs</h2>
				Les opérateurs peuvent aussi s'utiliser comme des fonctions
			</div>
		</div><div class='column6'>
			<div class='console shadow small'>
				<div class='bar'></div>
				<div class='content'>
					<div class='line'>+.class // Function</div>
					<div class='line'>+(12, 5) // 17</div>
					<div class='line'>let g = ope -> x, y -> ope(x, y); let add = g(+); add(12, 5) // 17</div>
					<div class='line'>let res = (if op == 'add' then + else * end)(12, 5)</div>
				</div>
			</div>
		</div>
		<br><br>

		<div class='column6'>
			<div class='console shadow small'>
				<div class='bar'></div>
				<div class='content'>
					<div class='line'>let x = -12; x.abs() // 12</div>
					<div class='line'>'hello'.size() // 5</div>
					<div class='line'>[].class.name // 'Array'</div>
					<div class='line'>(x -> x).class // &lt;class Function&gt;</div>
				</div>
			</div>
		</div><div class='column6'>
			<div class='content'>
				<h2>Toutes les valeurs sont des objets</h2>
				Toutes les valeurs sont manipulables comme des objets, elles peuvent avoir des attributs et des méthodes. Mais pas de panique, le compilateur se charge d'optimiser le programme en utilisant des types primitifs au maximum.
			</div>
		</div>
	</div>
</div>

<div class='light'>
	<div class='wrapper'>
		<h2>Projects using LeekScript</h2>

		Leek Wars
	</div>
</div>
