html {
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0 10px;
}

h1 a {
	text-decoration: none;
	color: black;
}

#console {
	background: black;
	color: white;
	width: 600px;
	height: 400px;
	font-size: 15px;
	font-family: monospace;
	margin: 10px 0;
	padding: 5px;
}

val {
	font-family: monospace;
	background: #eee;
	padding: 2px 4px;
	font-size: 14px;
}
