html {
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

h1 a {
	text-decoration: none;
	color: black;
}

#background {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#page {
	width: 1000px;
	margin: 0 auto;
}

#console {
	background: black;
	color: white;
	width: 1000px;
	height: 300px;
	font-size: 15px;
	font-family: monospace;
	margin: 10px 0;
	padding: 5px;
	font-size: 17px;
}

val {
	font-family: monospace;
	background: #eee;
	padding: 2px 4px;
	font-size: 16px;
}

.table th {
	background: #ddd;
	padding: 10px 20px;
	font-size: 28px;
	font-weight: normal;
	font-family: monospace;
}
.table td {
	background: #eee;
	text-align: center;
	padding: 10px 20px;
}
